step_functions/dynamicNTS.json
{
  "Comment": "Example NTS state machine",
  "StartAt": "ParallelSetup",
  "States": {
    "ParallelSetup": {
      "Type" : "Parallel",
      "Branches": [
        {
          "StartAt": "BringUpCloud1",
          "States": {
            "BringUpCloud1": {
              "Type": "Task",
              "InputPath" : "$.mixParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:newInstance",
              "Next": "StartNodeRed1",
              "ResultPath" : "$.mixParams.instanceName",
              "OutputPath" : "$"
            },
            "StartNodeRed1": {
              "Type": "Task",
              "InputPath": "$.mixParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:startNodeRED",
              "ResultPath": "$.nodeRED",
              "OutputPath": "$",
              "Next" : "MakeModuleParams1"
            },
            "MakeModuleParams1": {
              "Type": "Task",
              "InputPath": "$.mixParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:makeModuleParams",
              "ResultPath": "$.moduleParams",
              "OutputPath": "$",
              "Next": "BriefPause1"
            },
            "BriefPause1": {
              "Type": "Wait",
              "Seconds": 10,
              "Next" : "InstallCore1"
            },
            "InstallCore1" : {
              "Type": "Task",
              "InputPath": "$.moduleParams.core",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallHTTP1"
            },
            "InstallHTTP1": {
              "Type": "Task",
              "InputPath": "$.moduleParams.http-io",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFFMPEG1"
            },
            "InstallFFMPEG1": {
              "Type": "Task",
              "InputPath": "$.moduleParams.ffmpeg",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFile1"
            },
            "InstallFile1": {
              "Type": "Task",
              "InputPath": "$.moduleParams.file-io",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallTransition1"
            },
            "InstallTransition1": {
              "Type": "Task",
              "InputPath": "$.moduleParams.transition",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "End": true
            }
          }
        }, {
          "StartAt": "BringUpCloud2",
          "States": {
            "BringUpCloud2": {
              "Type": "Task",
              "InputPath": "$.encodeParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:newInstance",
              "Next": "StartNodeRed2",
              "ResultPath" : "$.encodeParams.instanceName",
              "OutputPath" : "$"
            },
            "StartNodeRed2": {
              "Type": "Task",
              "InputPath": "$.encodeParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:startNodeRED",
              "ResultPath": "$.nodeRED",
              "OutputPath": "$",
              "Next" : "MakeModuleParams2"
            },
            "MakeModuleParams2": {
              "Type": "Task",
              "InputPath": "$.encodeParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:makeModuleParams",
              "ResultPath": "$.moduleParams",
              "OutputPath": "$",
              "Next" : "BriefPause2"
            },
            "BriefPause2": {
              "Type": "Wait",
              "Seconds": 10,
              "Next" : "InstallCore2"
            },
            "InstallCore2" : {
              "Type": "Task",
              "InputPath": "$.moduleParams.core",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallHTTP2"
            },
            "InstallHTTP2": {
              "Type": "Task",
              "InputPath": "$.moduleParams.http-io",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFFMPEG2"
            },
            "InstallFFMPEG2": {
              "Type": "Task",
              "InputPath": "$.moduleParams.ffmpeg",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFile2"
            },
            "InstallFile2": {
              "Type": "Task",
              "InputPath": "$.moduleParams.file-io",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "End": true
            }
          }
        }
      ],
      "Next": "PrepareMix"
    },
    "PrepareMix": {
      "Type": "Task",
      "Resource" : "arn:aws:lambda:eu-west-1:258641003975:function:makeAMix",
      "InputPath" : "$",
      "ResultPath" : "$",
      "Next" : "DeployMix"
    },
    "DeployMix": {
      "Type": "Task",
      "InputPath" : "$[0]['mixParams']",
      "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:deployNodeREDFlow",
      "ResultPath" : null,
      "OutputPath" : "$",
      "Next" : "PrepareEncode"
    },
    "PrepareEncode": {
      "Type": "Task",
      "Resource" : "arn:aws:lambda:eu-west-1:258641003975:function:makeAnEncode",
      "InputPath" : "$",
      "ResultPath" : "$",
      "Next" : "DeployEncode"
    },
    "DeployEncode": {
      "Type": "Task",
      "InputPath" : "$[1]['encodeParams']",
      "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:deployNodeREDFlow",
      "ResultPath" : null,
      "OutputPath" : "$",
      "Next": "RunState"
    },
    "RunState": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "ParallelTearDown"
    },
    "ParallelTearDown": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "TearDownCloud1",
          "States": {
            "TearDownCloud1" : {
              "Type": "Task",
              "InputPath" : "$[0]['mixParams']",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:terminateInstance",
              "End": true
            }
          }
        }, {
          "StartAt": "TearDownCloud2",
          "States": {
            "TearDownCloud2": {
              "Type": "Task",
              "InputPath" : "$[1]['encodeParams']",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:terminateInstance",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
