step_functions/dynamicNTS.json
{
  "Comment": "Example NTS state machine",
  "StartAt": "ParallelSetup",
  "States": {
    "ParallelSetup": {
      "Type" : "Parallel",
      "Branches": [
        {
          "StartAt": "BringUpCloud1",
          "States": {
            "BringUpCloud1": {
              "Type": "Task",
              "InputPath" : "$.mixParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:newInstance",
              "Next": "BriefPause1",
              "ResultPath" : "$.reservation",
              "OutputPath" : "$"
            },
            "BriefPause1": {
              "Type": "Wait",
              "Seconds": 20,
              "Next": "StartNodeRed1"
            },
            "StartNodeRed1": {
              "Type": "Task",
              "InputPath": "$.mixParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:startNodeRED",
              "ResultPath": "$.nodeRED",
              "OutputPath": "$",
              "Next" : "InstallCore1"
            },
            "InstallCore1" : {
              "Type": "Task",
              "InputPath": "$.mixParams.core",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallHTTP1"
            },
            "InstallHTTP1": {
              "Type": "Task",
              "InputPath": "$.mixParams.http",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFFMPEG1"
            },
            "InstallFFMPEG1": {
              "Type": "Task",
              "InputPath": "$.mixParams.ffmpeg",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFile1"
            },
            "InstallFile1": {
              "Type": "Task",
              "InputPath": "$.mixParams.file",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallTransition1"
            },
            "InstallTransition1": {
              "Type": "Task",
              "InputPath": "$.mixParams.transition",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "End": true
            }
          }
        }, {
          "StartAt": "BringUpCloud2",
          "States": {
            "BringUpCloud2": {
              "Type": "Task",
              "InputPath": "$.encodeParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:newInstance",
              "Next": "BriefPause2",
              "ResultPath" : "$.reservation",
              "OutputPath" : "$"
            },
            "BriefPause2": {
              "Type": "Wait",
              "Seconds": 20,
              "Next": "StartNodeRed2"
            },
            "StartNodeRed2": {
              "Type": "Task",
              "InputPath": "$.encodeParams",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:startNodeRED",
              "ResultPath": "$.nodeRED",
              "OutputPath": "$",
              "Next" : "InstallCore2"
            },
            "InstallCore2" : {
              "Type": "Task",
              "InputPath": "$.encodeParams.core",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallHTTP2"
            },
            "InstallHTTP2": {
              "Type": "Task",
              "InputPath": "$.encodeParams.http",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFFMPEG2"
            },
            "InstallFFMPEG2": {
              "Type": "Task",
              "InputPath": "$.encodeParams.ffmpeg",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "Next": "InstallFile2"
            },
            "InstallFile2": {
              "Type": "Task",
              "InputPath": "$.encodeParams.file",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:installNodeREDModule",
              "ResultPath": null,
              "End": true
            }
          }
        }
      ],
      "Next": "DeployMix"
    },
    "DeployMix": {
      "Type": "Wait",
      "Seconds": 3,
      "Next" : "DeployEncode"
    },
    "DeployEncode": {
      "Type": "Wait",
      "Seconds": 4,
      "Next": "RunState"
    },
    "RunState": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "ParallelTearDown"
    },
    "ParallelTearDown": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "TearDownCloud1",
          "States": {
            "TearDownCloud1" : {
              "Type": "Task",
              "InputPath" : "$[0]['mixParams']",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:terminateInstance",
              "End": true
            }
          }
        }, {
          "StartAt": "TearDownCloud2",
          "States": {
            "TearDownCloud2": {
              "Type": "Task",
              "InputPath" : "$[1]['encodeParams']",
              "Resource": "arn:aws:lambda:eu-west-1:258641003975:function:terminateInstance",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
